<% layout('/layouts/boilerplate') -%>
</head>
<style>
  #filters{
    display:flex;
    flex-wrap: wrap;
  align-items:center;
  }
  .filter{padding-top:0.5rem;
    border-radius: 20%;
    text-align:center;
    margin-top: 1rem;
    margin-right: 2rem;
    opacity :0.8;
  }
  .filter:hover{
    cursor:pointer;
    opacity:1;
 
  }
  .tax-info{
    display:none;
  }
  .tax-toggle{margin-left: 2rem;;
    border:1px solid black;
    border-radius:1rem;
    height:3.25rem;
    padding:1rem;
  }
</style>
<body>
 <div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-paint-brush"></i></div>
    <p>Art</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-music"></i></div>
    <p>Dance</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-camera"></i></div>
    <p>Photography</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-utensils"></i></div>
    <p>Food</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Adventure</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-theater-masks"></i></div>
    <p>Theatre</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-hands-helping"></i></div>
    <p>Workshops</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boat Trips</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-fish"></i></div>
    <p>Fishing</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-skiing"></i></div>
    <p>Skiing</p>
  </div>
</div>

<!-- tax button -->
  <!-- <div class="tax-toggle">
   <div class="form-check form-switch form-check-reverse">
  <input class="form-check-input" type="checkbox" id="switchCheckReverse">
  <label class="form-check-label" for="switchCheckReverse">Display total after taxes</label>
</div> -->
  

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(listing of alllistings){%>
 <a href="/listings/<%=listing.id%>" class="listing_link">
  <div class="card col listing-card" style="width: 20rem;">
  <img src="<%=listing.image.url %> " class="card-img-top" alt="image" height="300rem">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text"><b><%= listing.title %></b><br>
        &#8377; <%=listing.price.toLocaleString("en-IN")%> per person
        <i class="tax-info">&nbsp; &nbsp;+18%GST</i>
                <br>
       <%=listing.location%><br>
       <%=listing.country%>
    </p>
  </div>
  </div>
</a>   
<%}%>

    </div>


</body>

<script>
  let checkbox=document.getElementById("switchCheckReverse");
checkbox.addEventListener('click',()=>{
 let tax_info=document.getElementsByClassName("tax-info");
for(info of tax_info){
  if(info.style.display!="inline"){
  info.style.display="inline";
  }
  else{
    info.style.display="none";
  }

}
})

</script>